@media (max-width: 1000px) {

    body {
        flex-direction: column;
    }

    header {
        width: 70%;
        margin: 0;
        margin-top: 10px;
    }

	p {
        width: 100%;
	}
	
	.minhas-informacoes {
        margin: 0;
        padding: 0;
        margin-top: 80px;
	}
	
	.minhas-informacoes img {
		border-radius: 10%;
		border: 1px solid #fff;
		width: 120px;
        padding: 0;
	}
	
	.minhas-informacoes .nome {
		font-size: 26px;
	}
	
	.minhas-informacoes .cargo {
		font-size: 20px;
		color: #b8bbc5;
	}

    .informacoes-abas {
        border-radius: 20px;
        margin-top: 10px;
        height: 350px;
    }

    .informacoes-abas .informacao.selecionado {
        width: 350px;
    }

    .informacoes-abas .descricao {
        max-height: 320px;
    }

    .informacoes-abas .informacao.selecionado {
        width: 350px;
    }

    .minhas-redes ul {
        width: 100%;
        height: 270px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .minhas-redes ul li {
        padding: 10px;
        margin: 10px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .informacao ul li i {
        font-size: 50px;
    }

    .informacao {
        margin: 0;
    }

    video {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 320px) {
    
    .informacao {
        margin: 0;
    } 
    
    header {
        width: 90%;
    }

    .minhas-informacoes {
        margin-top: 90px;
    }

    .informacoes-abas {
        width: 300px;
    }

    .informacoes-abas .descricao {
        width: 280px;
    }
}

@media (max-width: 376px) {
    header {
        width: 90%;
    }
    
    .minhas-informacoes {
        margin-top: 90px;
    }
    
    .informacoes-abas {
        width: 300px;
    }
    
    .informacoes-abas .descricao {
        width: 280px;
    }

    .box img {
        width: 280px;
        height: 370px;
        border-radius: 10px;
        margin: 20px;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .minhas-redes ul li {
        padding: 10px;
        margin: 10px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    .minhas-redes ul li {
        padding: 10px;
        margin: 10px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}